Problem: wie lassen sich die Wirkstoffe aus einer Liste mit Kombinationen in eine Referenzdatei überführen, wo jeder Wirkstoff einzeln aufgeführt ist.

In [4]:
import pandas as pd 
df = ['Medi A', 'Medi B'], ['Medi A'], ['Medi C', 'Medi A'], ['Medi B'], ['Medi C']

In [5]:
df

(['Medi A', 'Medi B'],
 ['Medi A'],
 ['Medi C', 'Medi A'],
 ['Medi B'],
 ['Medi C'])

In [7]:
df.groupby('Medi A')

AttributeError: 'tuple' object has no attribute 'groupby'

In [8]:
d = ['Medi A', 'Medi B'], ['Medi A'], ['Medi C', 'Medi A'], ['Medi B'], ['Medi C']
df = pd.DataFrame(data=d)

In [14]:
df.columns = ['Wirkstoff A','Wirkstoff B']

In [15]:
df

  Wirkstoff A Wirkstoff B
0      Medi A      Medi B
1      Medi A        None
2      Medi C      Medi A
3      Medi B        None
4      Medi C        None

https://medium.com/@sureshssarda/pandas-splitting-exploding-a-column-into-multiple-rows-b1b1d59ea12e

Weiterer Schritt: drop_duplicates

Erkenntnis: immer eine einfache Variante bauen, um das Problem zu lösen.