In [1]:
import camelot
import pandas as pd
import tabula

In [21]:
tables = camelot.read_pdf('Bericht_110.pdf', flavor = 'stream', pages ='1')

In [24]:
tables[0].df

,0,1,2,3,4,5,6,7
0,nach Unfallfolgen und Gemeinde,,,,,,,
1,,,,,,davon,,
2,,,Unfälle mit,,,lebens-,,
3,,Unfälle mit,Personen-,,Schwer-,bedrohlich,erheblich,
4,,Sach-schaden,schaden,Getötete,verletzte,Verletzte¹,Verletzte¹,Leicht-verletzte
5,Total,2 489,2 397,34,506,30,476,2 344
6,Aarberg,26,12,0,2,0,2,15
7,Aarwangen,10,15,0,2,0,2,14
8,Adelboden,8,11,1,3,0,3,9
9,Aefligen,0,0,0,0,0,0,0

Es nimmt nur die Daten bis Zeile 9. Deshalb geben wir ihm die Koordinaten für die gante A4-Seite.

In [25]:
tables = camelot.read_pdf('Bericht_110.pdf', flavor = 'stream', table_areas=['0,842,595,0'], pages ='1')

Und das ist jetzt die erste Seite. Jetzt nehmen wir alle Seiten, mit pages = 'all'.

In [28]:
tables = camelot.read_pdf('Bericht_110.pdf', flavor = 'stream', table_areas=['0,842,595,0'], pages ='all')

In [ ]:
tables[0].df